head{
    background-color: aqua;
}
#navbar{
    border:2px solid black;
    height: 50px;
    background-color: black;
}
#logo{
    color: chocolate;
    font-size: 25px;

}
input{
    height: 20px;
    padding:center;

}
button{
    color: black;
    width:50px;
    background:yellow;

}
a{
    margin-right: 200px;
    border: 4px solid white;
    border-radius: 15%;
}